
.admin-article {
  display: block;
 
}


.admin-article h2 {
  margin-bottom: 20px;
  margin-left: 20px; 
  font-size: 1.8rem; 
  font-weight: 600; 
  color: #333; 
}

.admin-container {
  width: 100%; 
}

.admin-form {
  display: flex;
  flex-direction: column;
  background-color: lightgrey;

}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem; 

}

.form-group {
  width: 100%;
  max-width: 30rem;

}

.form-group-label {
  display: block; 
  font-size: 1rem; 
  color: black; 

}


.admin-form input,
.admin-form select {
  width: 100%;
  max-width: 40rem;
  padding: 0.5rem; 
  font-size: 1rem; 
  border: 0.3rem solid #d7d4d4; 
  border-radius: 4px; 
  box-sizing: border-box; 
}


.admin-form [type=submit] {
  width: auto;
  margin-bottom: 1rem;;
  padding: 0.2rem 0.7rem;
  font-size: 1.5rem;
  align-self: center;
 
 
}

.admin-table {
  align-self: center;
  width: 100%;
  margin-top: 1rem;
  table-layout: auto; 
}

.admin-table td, 
.admin-table th {
  padding: 0.1rem;
  border: 1px solid #d7d4d4;
  word-wrap: break-word; 
  white-space: normal; 
  text-align: center;
}


.admin-table input,
.admin-table select {
  width: auto; 
  max-width: 100%; 
  font-size: 1rem;
  border: 0.2rem solid #d7d4d4;
  border-radius: 4px;
  box-sizing: border-box;
   min-width: 10rem; 
}


/* Az olvasható (read-only) input mezők átlátszó háttérrel és határ nélkül jelennek meg */
.admin-table input:read-only,
.admin-table select:read-only {
  background-color: transparent;
  border: 0;
}

.search-container {
  margin-top: 20px; 
  margin-bottom: 20px; 
  width: 100%;
  }
  
  .search-input {
    width: 100%; 
    max-width: 500px; 
    padding: 10px;
    font-size: 16px;
    border: 1px solid #0f0f0f;
    border-radius: 5px;
  
  }

  @media (min-width: 576px) {
    .admin-table td, .admin-table th {
      white-space: nowrap; /* Ne törje a szöveget szélesebb képernyőkön */
    }
  }

 
  
  

  

  




