/* Az .admin-article osztályú elemeket blokk szintűvé teszi */
.admin-article {
  display: block;
  padding: 20px 0; /* Több helyet ad a szöveg és a tartalom között */

}

/* Admin header formázása */
.admin-article h2 {
  margin-bottom: 20px;
  margin-left: 20px; /* Térköz a h2 és az alatta lévő tartalom között */
  font-size: 1.8rem; /* Igény szerint módosítható a betűméret */
  font-weight: 600; /* Erősebb betűk */
  color: #333; /* Sötét szín a jobb olvashatóság érdekében */
}

/* Admin container formázása */
.admin-container {
  width: 100%; /* Az admin container kitölti a szélességet */
}

/* Form group és input elemek közötti távolság */
.form-group {
  margin-bottom: 20px; /* Térköz a különböző form mezők között */
}

.form-group label {
  display: block; /* A label blokk szintű elem legyen */
  margin-bottom: 8px; /* Térköz a label és az input mező között */
  font-size: 1rem; /* Alapértelmezett betűméret */
  color: black; /* Szöveg színe */
}

/* Az input mezők alapstílusai */
.admin-form input,
.admin-form select {
  width: 100%; /* Az input mezők teljes szélességben */
  min-width: 250px; /* Minimum szélesség biztosítása */
  padding: 8px; /* Belső margó az input mezőn */
  font-size: 1rem; /* Betűméret */
  border: 2px solid #d7d4d4; /* A keret színe */
  border-radius: 4px; /* Kerekített sarkok */
  box-sizing: border-box; /* Az input mezők a paddingot is figyelembe veszik a szélességnél */
}

/* A gombot középre igazítjuk */
.admin-form {
  display: flex;
  flex-direction: column;
}

.admin-form input[type=submit] {
  width: auto;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1.5rem;
  align-self: center; /* Csak a gombot igazítja középre */
}




/* Az input mezők és select elemek a táblázatban */
.admin-table input,
.admin-table select {
  width: 100%; /* Az input mezők teljes szélessége */
  padding: 8px; /* Belső margó az input mezőn */
}

/* Az olvasható (read-only) input mezők átlátszó háttérrel és határ nélkül jelennek meg */
.admin-table input:read-only,
.admin-table select:read-only {
  background-color: transparent;
  border: 0;
}

.search-container {
  margin-top: 20px; /* A form alatt legyen egy kis távolság */
  margin-bottom: 20px; /* Táblázat előtt is legyen egy kis távolság */
  width: 100%;
  }
  
  .search-input {
    width: 100%; /* A kereső input széles legyen */
    max-width: 500px; /* Ne legyen túl széles, ha nagyobb képernyőn van */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #0f0f0f;
    border-radius: 5px;
  
  }
  
  .admin-table {
    margin-top: 30px; /* Kisebb távolság a táblázat és a kereső mező között */
  }
  

  




